nav{
  background-color: navy;
 
}
.codeninjalogo{
  width: 80px;
  height: 50px;
}
 .navbar li{
  display: flex;
  justify-content: center;
  margin-right: 10px;
 }
 .button-1{
  width: auto;
  height: 6vh;
  align-content: center;
  background-color: orange;
  border-radius: 10px;
 }
.button-2{
 width: auto;
 height: 6vh;
  align-content: center;
  margin-left: 20px;
  background-color: orangered;
  border-radius: 10px;
}